.blured-promo-container {
}

.blured-promo {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  .slogan-word {
    position: absolute;
    z-index: 999;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
    &--first {
      left: 22px;
      bottom: 154px;
    }
  }
}
.main-section {
  min-width: 100vw;
  min-height: 100vh;
  user-select: none;
  &__background-wrapper {
  }
  &__background-blured-wrapper {
    width: 50vw;
    overflow: hidden;
  }
  &__front-text-wrapper {
    width: 50%;
    overflow: hidden;
  }
  &__back-text-wrapper {
    width: 50vw;
    overflow: hidden;
    margin-left: auto;
    right: 0;
    text-align: left;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
  }
  & > * > * {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  & > * {
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__background {
    background-image: url("../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    z-index: 5;
  }
  &__background-blured {
    left: -50px;
    top: -50px;
    min-width: calc(100vw + 100px);
    min-height: calc(100vh + 100px);
    background-image: url("../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    z-index: 15;
    filter: blur(15px) brightness(2);
  }
  &__front-text {
    font-family: "Great Vibes";
    font-size: 6vw;
    z-index: 20;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url("../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 319.731px;
    line-height: 400px;
    letter-spacing: 0.08em;

    color: #ffffff;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  &__back-text {
    color: #fff;
    font-size: 6vw;
    z-index: 10;
    font-family: "Great Vibes";
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 319.731px;
    line-height: 400px;
    letter-spacing: 0.08em;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: start;
  }
}
