.swiper {
  width: 100%;
  &-slide {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .swiper-navigation {
    left: 0;
    top: 80%;
    width: 100%;
    justify-content: center;
    z-index: 99;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 83px;
    .swiper-left,
    .swiper-right {
      cursor: pointer;
      transition: transform 0.13s;
      svg {
        width: 2.8125rem;
        height: 2.8125rem;
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.swiper {
}

.text {
}
.btn {
}
