@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

*:focus {
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

body {
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/img/bg.jpg);
  background-size: cover;
}

.calc-window.hidden {
  transform: translateX(-100%);
}

.calc-window {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  background-color: #000;
  background-image: url(../assets/img/footer-bg.png);
  transform: translateX(0%);
  transition: transform 0.13s;
}

.total-price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.total-price__price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #6fc152;
}

.calc-window {
  padding: 115px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
}
.calc-window__total-price {
  margin-top: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
.calc-window__heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

.calc-form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* Тоже самое для Firefox */
  /* Тоже самое для IE */
}
.calc-form .range-input {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ffffff;
}
.calc-form input:checked + .checkbox::after {
  opacity: 1;
  visibility: visible;
}
.calc-form .checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #fff;
}
.calc-form .checkbox::after {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 33px;
  height: 33px;
  background-image: url(../assets/icons/clicked.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.13s, visibility 0.13s;
}
.calc-form .radio-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.calc-form label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.13s;
}
.calc-form label:active {
  transform: translateY(2px);
}
.calc-form input[type=range] {
  width: 268px;
  background-color: transparent;
}
.calc-form input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: #696565;
  box-shadow: inset -1.21739px 1.21739px 3.04348px rgba(0, 0, 0, 0.75);
  border-radius: 14px;
}
.calc-form input[type=range]::-webkit-slider-thumb {
  width: 42px;
  height: 42px;
  left: 602px;
  top: 316px;
  border-radius: 50%;
  background: #ededed;
  box-shadow: 0px 2.43478px 2.43478px rgba(0, 0, 0, 0.5), inset 0px 0px 3.04348px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  position: relative;
  left: 0;
  top: -10px;
}
.calc-form input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 50%;
  overflow: hidden;
  background: #ffffff;
  cursor: pointer;
}
.calc-form input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.col__heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  background-color: #000;
  background-image: url(../assets/img/footer-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.13s;
  transform: translateY(0%);
}
.page-menu__close-btn {
  position: absolute;
  top: 60px;
  right: 60px;
  cursor: pointer;
  transition: transform 0.13s;
}
.page-menu__close-btn:active {
  transform: translateY(2px);
}
.page-menu__logo {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  font-size: 76.0231px;
  line-height: 95px;
  display: flex;
  align-items: end;
  gap: 45px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.page-menu__logo span {
  color: #6fc152;
}
.page-menu__nav {
  margin-top: 50px;
  margin-bottom: 76px;
}

.hidden {
  transform: translateY(-100%);
}

.page-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.page-menu-nav__link {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  color: #ffffff;
  position: relative;
}
.page-menu-nav__link:hover::after {
  max-width: 100%;
}
.page-menu-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  max-width: 0%;
  transition: max-width 0.13s;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.header .wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1863px;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-link {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  font-size: 41.3143px;
  line-height: 52px;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #ffffff;
}
.logo-link__green-text {
  color: #6fc152;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
}
.nav__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  position: relative;
}
.nav__link:hover::after {
  max-width: 100%;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  z-index: 999;
  background-color: #fff;
  max-width: 0%;
  transition: max-width 0.13s;
}

.socials {
  margin-right: 43px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.tg-icon {
  width: 38px;
  height: 38px;
  background-image: url(../assets/icons/tg-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.burger-btn {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.13s;
}
.burger-btn:active {
  transform: translateY(2px);
}
.burger-btn__line {
  width: 65px;
  height: 45px;
  background-image: url(../assets/icons/one-burger-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.burger-btn__line::after {
  left: 0;
}
.burger-btn__line::before {
  right: 0;
}
.burger-btn__line::after, .burger-btn__line::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 45px;
  background-image: url(../assets/icons/one-burger-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.blured-promo {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.blured-promo .slogan-word {
  position: absolute;
  z-index: 999;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
.blured-promo .slogan-word--first {
  left: 22px;
  bottom: 154px;
}

.main-section {
  min-width: 100vw;
  min-height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-section__background-blured-wrapper {
  width: 50vw;
  overflow: hidden;
}
.main-section__front-text-wrapper {
  width: 50%;
  overflow: hidden;
}
.main-section__back-text-wrapper {
  width: 50vw;
  overflow: hidden;
  margin-left: auto;
  right: 0;
  text-align: left;
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
}
.main-section > * > * {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.main-section > * {
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.main-section__background {
  background-image: url("../assets/img/bg.jpg");
  background-position: center;
  background-size: cover;
  z-index: 5;
}
.main-section__background-blured {
  left: -50px;
  top: -50px;
  min-width: calc(100vw + 100px);
  min-height: calc(100vh + 100px);
  background-image: url("../assets/img/bg.jpg");
  background-position: center;
  background-size: cover;
  z-index: 15;
  filter: blur(15px) brightness(2);
}
.main-section__front-text {
  font-family: "Great Vibes";
  font-size: 6vw;
  z-index: 20;
  font-weight: bold;
  text-transform: uppercase;
  background-image: url("../assets/img/bg.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 319.731px;
  line-height: 400px;
  letter-spacing: 0.08em;
  color: #ffffff;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.main-section__back-text {
  color: #fff;
  font-size: 6vw;
  z-index: 10;
  font-family: "Great Vibes";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 319.731px;
  line-height: 400px;
  letter-spacing: 0.08em;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: start;
}

section {
  min-height: 100vh;
}

.promo .wrapper {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.promo .slogan-words {
  width: 100%;
  max-width: 1475px;
  margin-bottom: 155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.promo .slogan-words__slogan {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

section .wrapper {
  height: 100vh;
}

.effect .wrapper {
  align-items: flex-start;
  justify-content: center;
}
.effect .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.effect .content .text-content {
  max-width: 1066px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.effect .content .image-holder {
  width: 100%;
  max-width: 564px;
}
.effect .content .image-holder img {
  -o-object-fit: contain;
     object-fit: contain;
}

.subheading {
  margin-top: 146px;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

.text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 58px;
  /* or 129% */
  letter-spacing: 0.05em;
  color: #ffffff;
}

.list {
  list-style-type: disc;
  padding-left: 70px;
}

.list-item {
  display: list-item;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 58px;
  /* or 129% */
  letter-spacing: 0.05em;
  color: #ffffff;
}

.btn {
  padding: 23px 36px;
  border: 4px solid #6fc152;
  border-radius: 60px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.08em;
  color: #ffffff;
  transition: color 0.13s, background-color 0.13s, transform 0.13s;
}
.btn:hover {
  background-color: #6fc152;
}
.btn:active {
  transform: translateY(2px);
}

.innovation .wrapper {
  align-items: flex-end;
}
.innovation .wrapper .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.innovation .wrapper .content .text-content {
  max-width: 1066px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 100px;
  text-align: right;
}
.innovation .wrapper .content .image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.innovation .wrapper .content .image-holder .mass-link {
  cursor: pointer;
  transition: transform 0.13s;
}
.innovation .wrapper .content .image-holder .mass-link img {
  width: 100%;
  max-width: 100px;
}
.innovation .wrapper .content .image-holder .mass-link:active {
  transform: translateY(2px);
}
.innovation .wrapper .content .image-holder .phone-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 600px;
}

.params {
  background-color: #000;
  background-image: url(../assets/img/footer-bg.png);
}
.params .wrapper {
  justify-content: center;
}
.params .subheading {
  margin: 0;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: #ffffff;
}

.section .params-list {
  width: 100%;
  margin-top: 93px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section .param {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section .param__icon {
  position: relative;
}
.section .param__icon svg {
  position: relative;
  z-index: 2;
}
.section .param__icon::after {
  content: "";
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #4a7247;
  filter: blur(45.5px);
}
.section .param__heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: #ffffff;
}
.section .param__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.swiper {
  width: 100%;
  height: 482px;
}
.swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-navigation {
  bottom: 17px;
  left: 0;
  width: 100%;
  justify-content: center;
  z-index: 99;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 83px;
}
.swiper .swiper-navigation .swiper-left,
.swiper .swiper-navigation .swiper-right {
  cursor: pointer;
  transition: transform 0.13s;
}
.swiper .swiper-navigation .swiper-left:active,
.swiper .swiper-navigation .swiper-right:active {
  transform: translateY(2px);
}

.human .wrapper {
  align-items: flex-end;
  text-align: right;
  justify-content: center;
}
.human .wrapper .subheading {
  margin: 0;
  margin-bottom: 48px;
}
.human .wrapper .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.human .wrapper .content .text-content {
  max-width: 781px;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}

.personality .wrapper {
  align-items: flex-start;
}
.personality .wrapper .subheading {
  margin-bottom: 24px;
  text-align: left;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
}
.content .text-content {
  max-width: 829px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.content .text-content .text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 58px;
  /* or 166% */
  letter-spacing: 0.05em;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */